/* main code*/

h1 {
    color: rgb(255, 255, 255);
} 
p {
    color: white;
}
body {
    background-color: #3a3a3a;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*navbar styling code*/

.nav {
    background: linear-gradient(#aaaaaa,#636363);
    text-align: center;
    position: sticky;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #808080;
    padding: 0;
    margin: 0;
}
li a{
    display: block;
    color:#ffffff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
li:hover{
    background-color: #535353;
    transition: 0.2s;
}
/*container styling code*/
.container {
    border: 1px solid #727272;
    background: #535353;
    margin: 40px;
    border-radius: 5px;
    padding-bottom: 20px;
}
hr {
    border: solid 1px;
    color: #727272;
}

/* link interaction code*/

a{
    transition: 0.2s;
}
a:hover{
    color: rgb(0, 174, 255);
}