/* main code*/

h1 {
    color: rgb(255, 255, 255);
    text-align: center;

} 
p {
    color: white;
    text-align: center;
}
body {
    background-color: #3a3a3a;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

/*navbar styling code*/

.nav {
    background: linear-gradient(#aaaaaa,#636363);
    text-align: center;
    position: sticky;
}
ul {
    list-style-type: none;
}
li a{
    color:#ffffff;
    margin: 5px;
    text-decoration: none;
    float: left;
 
/*container styling code*/    

}
.container {
    border: 1px solid #727272;
    background: #535353;
    margin: 40px;
    border-radius: 5px;
    padding-bottom: 20px;
}
hr {
    border: solid 1px;
    color: #727272;
}

/* link interaction code*/

a{
    transition: 0.2s;
}
a:hover{
    color: rgb(0, 174, 255);
}